<header
  id="landing-header"
  class="z-50 flex px-10 py-4 md:px-4 md:py-3 justify-between items-center w-full fixed top-0 left-0 dark:bg-dark bg-light"
  transition:persist="header"
>
  <div class="flex flex-grow basis-0">
    <a
      class="[&>svg]:dark:fill-js [&>svg]:fill-css w-10 h-10 md:w-8 md:h-8"
      href="/#"
      aria-label="Ir al inicio"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        id="Capa_1"
        data-name="Capa 1"
        viewBox="0 0 29.06 29.06"
        ><path
          d="M29.05 13.84h-8.62l-.4-.69-.42-.72-3.96-6.9h-2.24l-4 6.87-.42.72-.4.69H2.34q0-.35.06-.69c0-.24.06-.48.11-.72a12.21 12.21 0 0 1 9.24-9.75c.32-.07.65-.13 1-.18s.54-.07.81-.09h1.94c.27 0 .54 0 .8.09s.66.11 1 .18a12.21 12.21 0 0 1 9.23 9.74h2.35a14.49 14.49 0 0 0-2.95-6.86 15 15 0 0 0-3.06-2.9 14.55 14.55 0 0 0-4.34-2.1c-.33-.09-.65-.17-1-.24s-.67-.11-1-.16-.68-.08-1-.1-.64 0-1 0h-1c-.35 0-.69.06-1 .1s-.69.11-1 .18-.67.15-1 .22a14.55 14.55 0 0 0-4.34 2.1 15 15 0 0 0-3.06 2.9 14.49 14.49 0 0 0-3 6.87q-.06.36-.09.72c0 .23 0 .46-.05.69v1.39h7.8l-.41.7-.42.73-1.9 3.3H7.3l1.9-3.3.42-.73.41-.7.41-.7.4-.69.39-.69.42-.72 1.88-3.27 1-1.67 1 1.68 1.87 3.25.42.72.4.69.4.69.41.7.41.7.42.73 1.9 3.3H24l-1.91-3.3-.42-.73-.4-.7h5.45c0 .23 0 .47-.06.7s-.07.49-.11.73a12.1 12.1 0 0 1-1.1 3.3 13.17 13.17 0 0 1-.72 1.26c-.2.29-.41.58-.63.85a9.85 9.85 0 0 1-.67.78 12.16 12.16 0 0 1-7.9 3.89v-10h-2v10a12.16 12.16 0 0 1-7.9-3.82 9.85 9.85 0 0 1-.67-.78c-.22-.27-.43-.57-.63-.86a11.91 11.91 0 0 1-.72-1.25 12.1 12.1 0 0 1-1.08-3.3H.16a14.63 14.63 0 0 0 .9 3.3 15 15 0 0 0 1.58 2.89l.42.57c.21.27.43.53.66.79s.46.49.7.72a14.45 14.45 0 0 0 9.11 4.07h2a14.48 14.48 0 0 0 9.14-4.07q.36-.34.69-.72c.23-.26.46-.52.67-.79l.42-.57a15 15 0 0 0 1.58-2.89 14.63 14.63 0 0 0 .9-3.3c0-.24.07-.49.09-.73s0-.47.05-.7v-.7c0-.24-.01-.49-.02-.72Z"
          class="cls-1"></path><path
          d="M13.53 15.72a1.76 1.76 0 0 0 .42.24 1.56 1.56 0 0 0 1.1 0 1.76 1.76 0 0 0 .42-.24 1.87 1.87 0 0 0 .38-.46 1.51 1.51 0 0 0 .17-.7 1.59 1.59 0 0 0-.16-.69 1.87 1.87 0 0 0-.38-.46 1.9 1.9 0 0 0-.39-.23 1.58 1.58 0 0 0-1.16 0 1.9 1.9 0 0 0-.39.23 1.87 1.87 0 0 0-.38.46 1.59 1.59 0 0 0-.16.69 1.51 1.51 0 0 0 .17.7 1.87 1.87 0 0 0 .36.46Z"
          class="cls-1"></path></svg
      ></a
    >
  </div>
  <nav
    class="md:hidden font-medium dark:text-gray-100 [&>ul>li>a]:rounded [&>ul>li>a]:px-3 md:hover:[&>ul>li>a]:bg-css/60 dark:md:hover:[&>ul>li>a]:bg-js/60 [&>ul>li>a]:py-1 md:w-full transition md:absolute md:top-12 md:left-0 md:[&>ul>li>a]:w-full md:[&>ul>li>a]:block md:bg-light dark:md:bg-dark"
  >
    <ul
      class="flex relative md:flex-col gap-6 lg:gap-4 [&>li]:cursor-pointer md:w-full md:p-4 md:items-center"
    >
      <li><a href="/#top">Sobre mi</a></li>
      <li><a href="/#projects">Proyectos</a></li>
      <li><a href="/#skills">Habilidades</a></li>
      <li><a href="/#contact">Contacto</a></li>
    </ul>
  </nav>
  <div class="flex md:gap-4 flex-grow basis-0 justify-end">
    <button
      id="open-menu"
      class="hidden md:block font-semibold text-base md:text-sm rounded-lg transition-colors [&>svg]:w-7 [&>svg]:stroke-css dark:[&>svg]:stroke-js"
      aria-label="Abrir Menú"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        ><path stroke="none" d="M0 0h24v24H0z"></path><path
          d="M4 6h16M4 12h16M4 18h16"></path></svg
      ></button
    >
  </div>

  <div
    id="menu-backdrop"
    class={`
      absolute dark:bg-js/60 bg-css/60 rounded
      left-[var(--left)] top-[var(--top)]
      w-[var(--width)] h-[var(--height)]
      transition-all duration-500
      ease-in-out opacity-0 -z-10 md:hidden
    `}
  >
  </div>
</header>
<script>
  import { showMenuOnHover } from "../utils/menu_backdrop";
  const btnOpemMenu = document.querySelector("#open-menu");
  const navBar = document.querySelector("nav");
  const header = document.querySelector("#landing-header") as HTMLElement;
  const links = document.querySelectorAll("nav ul li a");

  links.forEach((link) => {
    link.addEventListener("click", () => {
      navBar.classList.add("md:hidden");
    });
  });
  showMenuOnHover();

  window.addEventListener("scroll", () => {
    if (document.documentElement.scrollTop > 79) {
      header.classList.add("dark:shadow-[0px_10px_30px_-27px_#ffffff40]");
      header.classList.add("shadow-[0px_10px_30px_-27px_#424242]");
    } else {
      header.classList.remove("dark:shadow-[0px_10px_30px_-27px_#ffffff40]");
      header.classList.remove("shadow-[0px_10px_30px_-27px_#424242]");
    }
  });
  btnOpemMenu.addEventListener("click", () => {
    if (navBar.classList.value.includes("hidden")) {
      navBar.classList.remove("md:hidden");
    } else {
      navBar.classList.add("md:hidden");
    }
  });
</script>
